.destaque {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--padding-5xl) 0;
    background-color: var(--cor-secundaria-light);
}

.destaque-titulo {
   
    
    color: var(--cor-primaria-light);
}

.destaque-titulo>span {
    color: var( --cor-terciaria-dark);
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    